<!DOCTYPE html>
<html>
    <head>
        <title>問題確認</title>
    </head>
    <body>
        <p><%= data[0].name %></p>
        <br>
        <h1><%= data[0].mondaibun %></h1>
        <br>
        <br>
        <p><label>ア</label>　<%= data[0].sen1 %></p>
        <br>
        <p><label>イ</label>　<%= data[0].sen2 %></p>
        <br>
        <p><label>ウ</label>　<%= data[0].sen3 %></p>
        <br>
        <p><label>ェ</label>　<%= data[0].sen4 %></p>
        <br>
        <h1><label>回答</label>　<%= data[0].kaitou %></h1>
    </body>
</html>